# Cleaning Raw data

In [60]:
import pandas as pd
import pyarrow
import os
print(pd.__version__)
print(pyarrow.__version__)

2.3.3
22.0.0

In [61]:
raw_path = "../data/raw"
processed_path = "../data/processed"
os.makedirs(processed_path, exist_ok=True)

In [62]:
def CheckData(name):
    print(f"--- Check {name} Dataframe---")
    df = pd.read_csv(os.path.join(raw_path, f"{name}.csv"))
    print(df.head())
    print(df.info())
    return df

def SaveData(df, df_name):
    output_path = os.path.join(processed_path, f"{df_name}.csv")
    df.to_csv(output_path, index=False, encoding="utf-8-sig")
    print(f"File saved in: {output_path}")

### Account

In [63]:
df_account = CheckData("Account")

--- Check Account Dataframe---
   AccountID     AccountName ValueType AccountCategory
0          1   Balance Sheet  Currency         Unknown
1          2          Assets  Currency          Assets
2          3  Current Assets  Currency          Assets
3          4            Cash  Currency          Assets
4          5     Receivables  Currency          Assets
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AccountID        99 non-null     int64
 1   AccountName      99 non-null     object
 2   ValueType        99 non-null     object
 3   AccountCategory  99 non-null     object
dtypes: int64(1), object(3)
memory usage: 3.2+ KB
None

In [64]:
SaveData(df_account, "Account")

File saved in: ../data/processed\Account.csv

### Currency

In [65]:
df_currency = CheckData('Currency')

--- Check Currency Dataframe---
   CurrencyID CurrencyCode    CurrencyName
0           1          AFA         AFGHANI
1           2          DZD  ALGERIAN DINAR
2           3          ARS  ARGENTINE PESO
3           4          AMD   ARMENIAN DRAM
4           5          AWG  ARUBAN GUILDER
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CurrencyID    105 non-null    int64
 1   CurrencyCode  105 non-null    object
 2   CurrencyName  105 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.6+ KB
None

In [66]:
SaveData(df_currency, "Currency")

File saved in: ../data/processed\Currency.csv

### CurrencyRate

In [67]:
df_CurrencyRate = CheckData('CurrencyRate')

--- Check CurrencyRate Dataframe---
   CurrencyKey   DateKey  AverageRate  EndOfDayRate        Date
0            3  20101229          1.0      0.999800  2010-12-29
1            3  20101230          1.0      1.000901  2010-12-30
2            3  20101231          1.0      0.999600  2010-12-31
3            3  20110101          1.0      1.000000  2011-01-01
4            3  20110102          1.0      0.999600  2011-01-02
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14264 entries, 0 to 14263
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CurrencyKey   14264 non-null  int64
 1   DateKey       14264 non-null  int64
 2   AverageRate   14264 non-null  float64
 3   EndOfDayRate  14264 non-null  float64
 4   Date          14264 non-null  object
dtypes: float64(2), int64(2), object(1)
memory usage: 557.3+ KB
None

In [68]:
SaveData(df_CurrencyRate, "CurrencyRate")

File saved in: ../data/processed\CurrencyRate.csv

### Customer

In [69]:
df_Customer = CheckData('Customer')

--- Check Customer Dataframe---
   CustomerID  GeographyID MaritalStatus Gender  YearlyIncome  TotalChildren  \
0       11000           26             M      M       90000.0              2
1       11001           37             S      M       60000.0              3
2       11002           31             M      M       60000.0              3
3       11003           11             S      F       70000.0              0
4       11004           19             S      F       80000.0              5

   NumberChildrenAtHome EnglishEducation EnglishOccupation  HouseOwnerFlag  \
0                     0        Bachelors      Professional               1
1                     3        Bachelors      Professional               0
2                     3        Bachelors      Professional               1
3                     0        Bachelors      Professional               0
4                     5        Bachelors      Professional               1

   NumberCarsOwned DateFirstPurchase CommuteDistance  Age
0                0        2011-01-19       1-2 Miles   51
1                1        2011-01-15       0-1 Miles   46
2                1        2011-01-07       2-5 Miles   51
3                1        2010-12-29      5-10 Miles   49
4                4        2011-01-23       1-2 Miles   43
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18484 non-null  int64
 1   GeographyID           18484 non-null  int64
 2   MaritalStatus         18484 non-null  object
 3   Gender                18484 non-null  object
 4   YearlyIncome          18484 non-null  float64
 5   TotalChildren         18484 non-null  int64
 6   NumberChildrenAtHome  18484 non-null  int64
 7   EnglishEducation      18484 non-null  object
 8   EnglishOccupation     18484 non-null  object
 9   HouseOwnerFlag        18484 non-null  int64
 10  NumberCarsOwned       18484 non-null  int64
 11  DateFirstPurchase     18484 non-null  object
 12  CommuteDistance       18484 non-null  object
 13  Age                   18484 non-null  int64
dtypes: float64(1), int64(7), object(6)
memory usage: 2.0+ MB
None

In [70]:
SaveData(df_Customer, "Customer")

File saved in: ../data/processed\Customer.csv

### DepartmentGroup

In [71]:
df_DepartmentGroup = CheckData('DepartmentGroup')

--- Check DepartmentGroup Dataframe---
   DepartmentGroupKey                   DepartmentGroupName
0                   1                             Corporate
1                   2  Executive General and Administration
2                   3                  Inventory Management
3                   4                         Manufacturing
4                   5                     Quality Assurance
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DepartmentGroupKey   7 non-null      int64
 1   DepartmentGroupName  7 non-null      object
dtypes: int64(1), object(1)
memory usage: 244.0+ bytes
None

In [72]:
SaveData(df_DepartmentGroup, "DepartmentGroup")

File saved in: ../data/processed\DepartmentGroup.csv

### Date

In [73]:
df_Date = CheckData('DimDate')

--- Check DimDate Dataframe---
    DateKey        Date    DayName  DayNumberOfWeek  DayNumberOfMonth  \
0  20050101  2005-01-01   Saturday                7                 1
1  20050102  2005-01-02     Sunday                1                 2
2  20050103  2005-01-03     Monday                2                 3
3  20050104  2005-01-04    Tuesday                3                 4
4  20050105  2005-01-05  Wednesday                4                 5

   DayNumberOfYear MonthName  MonthNumber  Quarter  Year  Semester MonthYear  \
0                1   January            1        1  2005         1   2005-01
1                2   January            1        1  2005         1   2005-01
2                3   January            1        1  2005         1   2005-01
3                4   January            1        1  2005         1   2005-01
4                5   January            1        1  2005         1   2005-01

  MonthYearLong  IsWeekend
0     ene.-2005          1
1     ene.-2005          0
2     ene.-2005          0
3     ene.-2005          0
4     ene.-2005          0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DateKey           3652 non-null   int64
 1   Date              3652 non-null   object
 2   DayName           3652 non-null   object
 3   DayNumberOfWeek   3652 non-null   int64
 4   DayNumberOfMonth  3652 non-null   int64
 5   DayNumberOfYear   3652 non-null   int64
 6   MonthName         3652 non-null   object
 7   MonthNumber       3652 non-null   int64
 8   Quarter           3652 non-null   int64
 9   Year              3652 non-null   int64
 10  Semester          3652 non-null   int64
 11  MonthYear         3652 non-null   object
 12  MonthYearLong     3652 non-null   object
 13  IsWeekend         3652 non-null   int64
dtypes: int64(9), object(5)
memory usage: 399.6+ KB
None

In [74]:
SaveData(df_Date, "Date")

File saved in: ../data/processed\Date.csv

### Geography

In [75]:
df_Geography = CheckData('DimGeography')

--- Check DimGeography Dataframe---
   GeographyKey           City            State CountryRegionCode    Country  \
0             1     Alexandria  New South Wales                AU  Australia
1             2  Coffs Harbour  New South Wales                AU  Australia
2             3   Darlinghurst  New South Wales                AU  Australia
3             4       Goulburn  New South Wales                AU  Australia
4             5      Lane Cove  New South Wales                AU  Australia

  PostalCode  SalesTerritoryKey                               FullLocation
0       2015                  9     Alexandria, New South Wales, Australia
1       2450                  9  Coffs Harbour, New South Wales, Australia
2       2010                  9   Darlinghurst, New South Wales, Australia
3       2580                  9       Goulburn, New South Wales, Australia
4       1597                  9      Lane Cove, New South Wales, Australia
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 655 entries, 0 to 654
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GeographyKey       655 non-null    int64
 1   City               655 non-null    object
 2   State              655 non-null    object
 3   CountryRegionCode  655 non-null    object
 4   Country            655 non-null    object
 5   PostalCode         655 non-null    object
 6   SalesTerritoryKey  655 non-null    int64
 7   FullLocation       655 non-null    object
dtypes: int64(2), object(6)
memory usage: 41.1+ KB
None

In [76]:
SaveData(df_Geography, "Geography")

File saved in: ../data/processed\Geography.csv

### Employee

In [77]:
df_Employee = CheckData('Employee')

--- Check Employee Dataframe---
   EmployeeID  ManagerID  SalesTerritoryKey                      JobTitle  \
0         272        277                 11  North American Sales Manager
1         281        272                  2          Sales Representative
2         282        272                  4          Sales Representative
3         283        272                  3          Sales Representative
4         284        272                  6          Sales Representative

  DepartmentName  CurrentFlag  TenureYears
0          Sales         True           12
1          Sales         True           12
2          Sales         True           12
3          Sales         True           12
4          Sales         True           12
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         17 non-null     int64
 1   ManagerID          17 non-null     int64
 2   SalesTerritoryKey  17 non-null     int64
 3   JobTitle           17 non-null     object
 4   DepartmentName     17 non-null     object
 5   CurrentFlag        17 non-null     bool
 6   TenureYears        17 non-null     int64
dtypes: bool(1), int64(4), object(2)
memory usage: 965.0+ bytes
None

In [78]:
SaveData(df_Employee, "Employee")

File saved in: ../data/processed\Employee.csv

### Finance

In [79]:
df_Finance = CheckData('FactFinance')

--- Check FactFinance Dataframe---
   FinanceKey   DateKey  OrganizationKey  DepartmentGroupKey  ScenarioKey  \
0           1  20101229                3                   1            1
1           2  20101229                3                   1            2
2           3  20101229                3                   1            2
3           4  20101229                3                   1            1
4           5  20101229                3                   1            1

   AccountKey   Amount        Date
0          60  22080.0  2010-12-29
1          60  20200.0  2010-12-29
2          61   2000.0  2010-12-29
3          61   2208.0  2010-12-29
4          62   1546.0  2010-12-29
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39409 entries, 0 to 39408
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FinanceKey          39409 non-null  int64
 1   DateKey             39409 non-null  int64
 2   OrganizationKey     39409 non-null  int64
 3   DepartmentGroupKey  39409 non-null  int64
 4   ScenarioKey         39409 non-null  int64
 5   AccountKey          39409 non-null  int64
 6   Amount              39409 non-null  float64
 7   Date                39409 non-null  object
dtypes: float64(1), int64(6), object(1)
memory usage: 2.4+ MB
None

In [80]:
SaveData(df_Finance, "Finance")

File saved in: ../data/processed\Finance.csv

### InternetSales

In [81]:
df_InternetSales = CheckData('InternetSales')

--- Check InternetSales Dataframe---
   ProductKey  OrderDateKey  DueDateKey  ShipDateKey  CustomerKey  \
0         310      20101229    20110110     20110105        21768
1         346      20101229    20110110     20110105        28389
2         346      20101229    20110110     20110105        25863
3         336      20101229    20110110     20110105        14501
4         346      20101229    20110110     20110105        11003

   PromotionKey  CurrencyKey  SalesTerritoryKey SalesOrderNumber  \
0             1           19                  6          SO43697
1             1           39                  7          SO43698
2             1          100                  1          SO43699
3             1          100                  4          SO43700
4             1            6                  9          SO43701

   SalesOrderLineNumber  ...  UnitPriceDiscountPct  DiscountAmount  \
0                     1  ...                   0.0             0.0
1                     1  ...                   0.0             0.0
2                     1  ...                   0.0             0.0
3                     1  ...                   0.0             0.0
4                     1  ...                   0.0             0.0

   ProductStandardCost  TotalProductCost  SalesAmount    TaxAmt  Freight  \
0            2171.2942         2171.2942    3578.2700  286.2616  89.4568
1            1912.1544         1912.1544    3399.9900  271.9992  84.9998
2            1912.1544         1912.1544    3399.9900  271.9992  84.9998
3             413.1463          413.1463     699.0982   55.9279  17.4775
4            1912.1544         1912.1544    3399.9900  271.9992  84.9998

    OrderDate     DueDate    ShipDate
0  2010-12-29  2011-01-10  2011-01-05
1  2010-12-29  2011-01-10  2011-01-05
2  2010-12-29  2011-01-10  2011-01-05
3  2010-12-29  2011-01-10  2011-01-05
4  2010-12-29  2011-01-10  2011-01-05

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            60398 non-null  int64
 1   OrderDateKey          60398 non-null  int64
 2   DueDateKey            60398 non-null  int64
 3   ShipDateKey           60398 non-null  int64
 4   CustomerKey           60398 non-null  int64
 5   PromotionKey          60398 non-null  int64
 6   CurrencyKey           60398 non-null  int64
 7   SalesTerritoryKey     60398 non-null  int64
 8   SalesOrderNumber      60398 non-null  object
 9   SalesOrderLineNumber  60398 non-null  int64
 10  OrderQuantity         60398 non-null  int64
 11  UnitPrice             60398 non-null  float64
 12  ExtendedAmount        60398 non-null  float64
 13  UnitPriceDiscountPct  60398 non-null  float64
 14  DiscountAmount        60398 non-null  float64
 15  ProductStandardCost   60398 non-null  float64
 16  TotalProductCost      60398 non-null  float64
 17  SalesAmount           60398 non-null  float64
 18  TaxAmt                60398 non-null  float64
 19  Freight               60398 non-null  float64
 20  OrderDate             60398 non-null  object
 21  DueDate               60398 non-null  object
 22  ShipDate              60398 non-null  object
dtypes: float64(9), int64(10), object(4)
memory usage: 10.6+ MB
None

In [82]:
SaveData(df_InternetSales, "InternetSales")

File saved in: ../data/processed\InternetSales.csv

### InternetSalesReason

In [83]:
df_InternetSalesReason = CheckData('InternetSalesReason')

--- Check InternetSalesReason Dataframe---
  SalesOrderNumber  SalesOrderLineNumber  SalesReasonKey
0          SO43697                     1               5
1          SO43697                     1               9
2          SO43702                     1               5
3          SO43702                     1               9
4          SO43703                     1               5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64515 entries, 0 to 64514
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SalesOrderNumber      64515 non-null  object
 1   SalesOrderLineNumber  64515 non-null  int64
 2   SalesReasonKey        64515 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.5+ MB
None

In [84]:
SaveData(df_InternetSalesReason, "InternetSalesReason")

File saved in: ../data/processed\InternetSalesReason.csv

### Product

In [85]:
df_Product = CheckData('Product')

--- Check Product Dataframe---
   ProductKey                ProductName      ModelName ProductLine Class  \
0         210  HL Road Frame - Black, 58  HL Road Frame          R     H
1         211    HL Road Frame - Red, 58  HL Road Frame          R     H
2         212      Sport-100 Helmet, Red      Sport-100          S    NaN
3         213      Sport-100 Helmet, Red      Sport-100          S    NaN
4         214      Sport-100 Helmet, Red      Sport-100          S    NaN

  Style  Color  StandardCost  ListPrice  DealerPrice  DaysToManufacture  \
0    U   Black           NaN        NaN          NaN                  1
1    U     Red           NaN        NaN          NaN                  1
2   NaN    Red       12.0278    33.6442      20.1865                  0
3   NaN    Red       13.8782    33.6442      20.1865                  0
4   NaN    Red       13.0863    34.9900      20.9940                  0

   FinishedGoodsFlag   StartDate     EndDate   Status  ProductSubcategoryKey  \
0               True  2003-07-01         NaN  Current                     14
1               True  2003-07-01         NaN  Current                     14
2               True  2011-07-01  2007-12-28      NaN                     31
3               True  2012-07-01  2008-12-27      NaN                     31
4               True  2013-07-01         NaN  Current                     31

  SubcategoryName  ProductCategoryKey CategoryName
0     Road Frames                   2   Components
1     Road Frames                   2   Components
2         Helmets                   4  Accessories
3         Helmets                   4  Accessories
4         Helmets                   4  Accessories
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             397 non-null    int64
 1   ProductName            397 non-null    object
 2   ModelName              397 non-null    object
 3   ProductLine            380 non-null    object
 4   Class                  312 non-null    object
 5   Style                  301 non-null    object
 6   Color                  341 non-null    object
 7   StandardCost           395 non-null    float64
 8   ListPrice              395 non-null    float64
 9   DealerPrice            395 non-null    float64
 10  DaysToManufacture      397 non-null    int64
 11  FinishedGoodsFlag      397 non-null    bool
 12  StartDate              397 non-null    object
 13  EndDate                200 non-null    object
 14  Status                 197 non-null    object
 15  ProductSubcategoryKey  397 non-null    int64
 16  SubcategoryName        397 non-null    object
 17  ProductCategoryKey     397 non-null    int64
 18  CategoryName           397 non-null    object
dtypes: bool(1), float64(3), int64(4), object(11)
memory usage: 56.3+ KB
None

In [86]:
df_Product.isna().sum().sort_values(ascending=False)

Status                   200
EndDate                  197
Style                     96
Class                     85
Color                     56
ProductLine               17
StandardCost               2
DealerPrice                2
ListPrice                  2
ProductKey                 0
ProductName                0
ModelName                  0
DaysToManufacture          0
StartDate                  0
FinishedGoodsFlag          0
ProductSubcategoryKey      0
SubcategoryName            0
ProductCategoryKey         0
CategoryName               0
dtype: int64

In [87]:
df_Product['Status'] = df_Product['Status'].fillna("Unknown")

In [88]:
df_Product['Class'] = df_Product['Class'].fillna("Unknown")

In [89]:
df_Product['Style'] = df_Product['Style'].fillna("Unknown")

In [90]:
df_Product['Color'] = df_Product['Color'].fillna("Unknown")

In [91]:
df_Product['ProductLine'] = df_Product['ProductLine'].fillna("Unknown")

In [92]:
mean_cost = df_Product['StandardCost'].median()
df_Product['StandardCost'] = df_Product['StandardCost'].fillna(mean_cost)

In [93]:
mean_cost = df_Product['DealerPrice'].median()
df_Product['DealerPrice'] = df_Product['DealerPrice'].fillna(mean_cost)

In [94]:
mean_cost = df_Product['ListPrice'].median()
df_Product['ListPrice'] = df_Product['ListPrice'].fillna(mean_cost)

In [95]:
# Check
df_Product.isna().sum().sort_values(ascending=False)

EndDate                  197
ProductName                0
ProductKey                 0
ModelName                  0
ProductLine                0
Style                      0
Class                      0
StandardCost               0
ListPrice                  0
DealerPrice                0
Color                      0
DaysToManufacture          0
FinishedGoodsFlag          0
StartDate                  0
Status                     0
ProductSubcategoryKey      0
SubcategoryName            0
ProductCategoryKey         0
CategoryName               0
dtype: int64

In [96]:
SaveData(df_Product, "Product")

File saved in: ../data/processed\Product.csv

### ProductInventory

In [97]:
df_ProductInventory = CheckData('ProductInventory')

--- Check ProductInventory Dataframe---
   ProductKey   DateKey MovementDate  UnitCost  UnitsIn  UnitsOut  \
0           1  20101228   2010-12-28      0.32        0         0
1           1  20101229   2010-12-29      0.32        0         0
2           1  20101230   2010-12-30      0.32        0         0
3           1  20101231   2010-12-31      0.32        0         0
4           1  20110101   2011-01-01      0.32        0         0

   UnitsBalance
0           875
1           875
2           875
3           875
4           875
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776286 entries, 0 to 776285
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ProductKey    776286 non-null  int64
 1   DateKey       776286 non-null  int64
 2   MovementDate  776286 non-null  object
 3   UnitCost      776286 non-null  float64
 4   UnitsIn       776286 non-null  int64
 5   UnitsOut      776286 non-null  int64
 6   UnitsBalance  776286 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 41.5+ MB
None

In [98]:
SaveData(df_ProductInventory, "ProductInventory")

File saved in: ../data/processed\ProductInventory.csv

### Promotion

In [99]:
df_Promotion = CheckData('Promotion')

--- Check Promotion Dataframe---
   PromotionKey             PromotionName    PromotionType PromotionCategory  \
0             1               No Discount      No Discount       No Discount
1             2  Volume Discount 11 to 14  Volume Discount          Reseller
2             3  Volume Discount 15 to 24  Volume Discount          Reseller
3             4  Volume Discount 25 to 40  Volume Discount          Reseller
4             5  Volume Discount 41 to 60  Volume Discount          Reseller

   DiscountPct   StartDate     EndDate  MinQty  MaxQty
0         0.00  2010-11-29  2014-06-30       0     NaN
1         0.02  2010-12-29  2013-12-28      11    14.0
2         0.05  2010-12-29  2013-12-28      15    24.0
3         0.10  2010-12-29  2013-12-28      25    40.0
4         0.15  2010-12-29  2013-12-28      41    60.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PromotionKey       16 non-null     int64
 1   PromotionName      16 non-null     object
 2   PromotionType      16 non-null     object
 3   PromotionCategory  16 non-null     object
 4   DiscountPct        16 non-null     float64
 5   StartDate          16 non-null     object
 6   EndDate            16 non-null     object
 7   MinQty             16 non-null     int64
 8   MaxQty             4 non-null      float64
dtypes: float64(2), int64(2), object(5)
memory usage: 1.3+ KB
None

In [100]:
df_Promotion['MaxQty'] = df_Promotion['MaxQty'].fillna(9999.0)

In [101]:
df_Promotion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PromotionKey       16 non-null     int64
 1   PromotionName      16 non-null     object
 2   PromotionType      16 non-null     object
 3   PromotionCategory  16 non-null     object
 4   DiscountPct        16 non-null     float64
 5   StartDate          16 non-null     object
 6   EndDate            16 non-null     object
 7   MinQty             16 non-null     int64
 8   MaxQty             16 non-null     float64
dtypes: float64(2), int64(2), object(5)
memory usage: 1.3+ KB

In [102]:
SaveData(df_Promotion, "Promotion")

File saved in: ../data/processed\Promotion.csv

### Reseller

In [103]:
df_Reseller = CheckData('Reseller')

--- Check Reseller Dataframe---
   ResellerKey                ResellerName  GeographyKey  \
0            1                A Bike Store           637
1            2          Progressive Sports           635
2            3    Advanced Bike Components           584
3            4       Modular Cycle Systems           572
4            5  Metropolitan Sports Supply           322

           BusinessType ProductLine  AnnualSales  YearOpened
0  Value Added Reseller        Road     300000.0        1974
1   Specialty Bike Shop    Mountain     800000.0        1976
2             Warehouse        Road    1500000.0        1978
3  Value Added Reseller        Road     300000.0        1980
4   Specialty Bike Shop        Road     800000.0        1982
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701 entries, 0 to 700
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ResellerKey   701 non-null    int64
 1   ResellerName  701 non-null    object
 2   GeographyKey  701 non-null    int64
 3   BusinessType  701 non-null    object
 4   ProductLine   701 non-null    object
 5   AnnualSales   701 non-null    float64
 6   YearOpened    701 non-null    int64
dtypes: float64(1), int64(3), object(3)
memory usage: 38.5+ KB
None

In [104]:
SaveData(df_Reseller, "Reseller")

File saved in: ../data/processed\Reseller.csv

### ResellerSales

In [105]:
df_ResellerSales = CheckData('ResellerSales')

--- Check ResellerSales Dataframe---
   ProductKey  OrderDateKey  DueDateKey  ShipDateKey  ResellerKey  \
0         349      20101229    20110110     20110105          676
1         350      20101229    20110110     20110105          676
2         351      20101229    20110110     20110105          676
3         344      20101229    20110110     20110105          676
4         345      20101229    20110110     20110105          676

   EmployeeKey  PromotionKey  CurrencyKey  SalesTerritoryKey SalesOrderNumber  \
0          285             1          100                  5          SO43659
1          285             1          100                  5          SO43659
2          285             1          100                  5          SO43659
3          285             1          100                  5          SO43659
4          285             1          100                  5          SO43659

   ...  UnitPriceDiscountPct  DiscountAmount  ProductStandardCost  \
0  ...                   0.0             0.0            1898.0944
1  ...                   0.0             0.0            1898.0944
2  ...                   0.0             0.0            1898.0944
3  ...                   0.0             0.0            1912.1544
4  ...                   0.0             0.0            1912.1544

   TotalProductCost  SalesAmount    TaxAmt   Freight   OrderDate     DueDate  \
0         1898.0944     2024.994  161.9995   50.6249  2010-12-29  2011-01-10
1         5694.2832     6074.982  485.9986  151.8746  2010-12-29  2011-01-10
2         1898.0944     2024.994  161.9995   50.6249  2010-12-29  2011-01-10
3         1912.1544     2039.994  163.1995   50.9999  2010-12-29  2011-01-10
4         1912.1544     2039.994  163.1995   50.9999  2010-12-29  2011-01-10

     ShipDate
0  2011-01-05
1  2011-01-05
2  2011-01-05
3  2011-01-05
4  2011-01-05

[5 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60855 entries, 0 to 60854
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            60855 non-null  int64
 1   OrderDateKey          60855 non-null  int64
 2   DueDateKey            60855 non-null  int64
 3   ShipDateKey           60855 non-null  int64
 4   ResellerKey           60855 non-null  int64
 5   EmployeeKey           60855 non-null  int64
 6   PromotionKey          60855 non-null  int64
 7   CurrencyKey           60855 non-null  int64
 8   SalesTerritoryKey     60855 non-null  int64
 9   SalesOrderNumber      60855 non-null  object
 10  SalesOrderLineNumber  60855 non-null  int64
 11  OrderQuantity         60855 non-null  int64
 12  UnitPrice             60855 non-null  float64
 13  ExtendedAmount        60855 non-null  float64
 14  UnitPriceDiscountPct  60855 non-null  float64
 15  DiscountAmount        60855 non-null  float64
 16  ProductStandardCost   60855 non-null  float64
 17  TotalProductCost      60855 non-null  float64
 18  SalesAmount           60855 non-null  float64
 19  TaxAmt                60855 non-null  float64
 20  Freight               60855 non-null  float64
 21  OrderDate             60855 non-null  object
 22  DueDate               60855 non-null  object
 23  ShipDate              60855 non-null  object
dtypes: float64(9), int64(11), object(4)
memory usage: 11.1+ MB
None

In [106]:
SaveData(df_ResellerSales, "ResellerSales")

File saved in: ../data/processed\ResellerSales.csv

### SalesCuota

In [107]:
df_SalesCuota = CheckData('SalesCuota')

--- Check SalesCuota Dataframe---
   EmployeeKey   DateKey  CalendarYear  CalendarQuarter  SalesAmountQuota
0          272  20101229          2010                4           28000.0
1          281  20101229          2010                4          367000.0
2          282  20101229          2010                4          637000.0
3          283  20101229          2010                4          565000.0
4          284  20101229          2010                4          244000.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeKey       163 non-null    int64
 1   DateKey           163 non-null    int64
 2   CalendarYear      163 non-null    int64
 3   CalendarQuarter   163 non-null    int64
 4   SalesAmountQuota  163 non-null    float64
dtypes: float64(1), int64(4)
memory usage: 6.5 KB
None

In [108]:
SaveData(df_SalesCuota, "SalesCuota")

File saved in: ../data/processed\SalesCuota.csv

### SalesReason

In [109]:
df_SalesReason = CheckData('SalesReason')

--- Check SalesReason Dataframe---
   SalesReasonKey            SalesReasonName SalesReasonType
0               1                      Price           Other
1               2               On Promotion       Promotion
2               3     Magazine Advertisement       Marketing
3               4  Television  Advertisement       Marketing
4               5               Manufacturer           Other
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SalesReasonKey   10 non-null     int64
 1   SalesReasonName  10 non-null     object
 2   SalesReasonType  10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes
None

In [110]:
SaveData(df_SalesReason, "SalesReason")

File saved in: ../data/processed\SalesReason.csv

### SalesTerritory

In [111]:
df_SalesTerritory = CheckData('SalesTerritory')

--- Check SalesTerritory Dataframe---
   SalesTerritoryKey SalesTerritoryRegion SalesTerritoryCountry  \
0                  1            Northwest         United States
1                  2            Northeast         United States
2                  3              Central         United States
3                  4            Southwest         United States
4                  5            Southeast         United States

  SalesTerritoryGroup
0       North America
1       North America
2       North America
3       North America
4       North America
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SalesTerritoryKey      11 non-null     int64
 1   SalesTerritoryRegion   10 non-null     object
 2   SalesTerritoryCountry  10 non-null     object
 3   SalesTerritoryGroup    10 non-null     object
dtypes: int64(1), object(3)
memory usage: 484.0+ bytes
None

In [112]:
df_SalesTerritory = df_SalesTerritory.drop(index=10)
df_SalesTerritory = df_SalesTerritory.reset_index(drop=True)

In [113]:
SaveData(df_SalesTerritory, "SalesTerritory")

File saved in: ../data/processed\SalesTerritory.csv

### Scenario

In [114]:
df_Scenario = CheckData('Scenario')

--- Check Scenario Dataframe---
   ScenarioKey ScenarioName
0            1       Actual
1            2       Budget
2            3     Forecast
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ScenarioKey   3 non-null      int64
 1   ScenarioName  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None

In [115]:
SaveData(df_Scenario, "Scenario")

File saved in: ../data/processed\Scenario.csv

### SurveyResponse

In [116]:
df_SurveyResponse = CheckData('SurveyResponse')

--- Check SurveyResponse Dataframe---
   SurveyResponseKey   DateKey  CustomerKey  ProductCategoryKey  \
0                  1  20120309        11001                   3
1                  2  20120309        11001                   4
2                  3  20120309        11001                   4
3                  4  20120424        11017                   3
4                  5  20120424        11017                   4

   ProductSubcategoryKey
0                     24
1                     30
2                     32
3                     22
4                     28
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2727 entries, 0 to 2726
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SurveyResponseKey      2727 non-null   int64
 1   DateKey                2727 non-null   int64
 2   CustomerKey            2727 non-null   int64
 3   ProductCategoryKey     2727 non-null   int64
 4   ProductSubcategoryKey  2727 non-null   int64
dtypes: int64(5)
memory usage: 106.7 KB
None

In [117]:
SaveData(df_SurveyResponse, "SurveyResponse")

File saved in: ../data/processed\SurveyResponse.csv