# Extract SQL views to CSV files

**Import Libraries**

In [12]:
import os
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime

**Create SQL Server Connection**

In [19]:
connection_string = (
    "mssql+pyodbc:///?odbc_connect="
    "Driver={ODBC Driver 17 for sql_queries Server};"
    "Server=FERNANDO;"
    "Database=AdventureWorksDW2022;"
    "Trusted_Connection=yes;"
)
engine = create_engine(connection_string)

**Check Views**

In [14]:
def query_to_df(query):
    try:
        df = pd.read_sql(query, engine)
        return df
    except Exception as e:
        print("Error executing query:")
        print(e)
        return None

**Testing Connection**

In [20]:
df = query_to_df("SELECT TOP 10 * FROM vw_Product")
df.head()

,ProductKey,ProductName,ModelName,ProductLine,Class,Style,Color,StandardCost,ListPrice,DealerPrice,DaysToManufacture,FinishedGoodsFlag,StartDate,EndDate,Status,ProductSubcategoryKey,SubcategoryName,ProductCategoryKey,CategoryName
0,210,"HL Road Frame - Black, 58",HL Road Frame,R,H,U,Black,NaN,NaN,NaN,1,True,2003-07-01,NaT,Current,14,Road Frames,2,Components
1,211,"HL Road Frame - Red, 58",HL Road Frame,R,H,U,Red,NaN,NaN,NaN,1,True,2003-07-01,NaT,Current,14,Road Frames,2,Components
2,212,"Sport-100 Helmet, Red",Sport-100,S,None,None,Red,12.0278,33.6442,20.1865,0,True,2011-07-01,2007-12-28,None,31,Helmets,4,Accessories
3,213,"Sport-100 Helmet, Red",Sport-100,S,None,None,Red,13.8782,33.6442,20.1865,0,True,2012-07-01,2008-12-27,None,31,Helmets,4,Accessories
4,214,"Sport-100 Helmet, Red",Sport-100,S,None,None,Red,13.0863,34.9900,20.9940,0,True,2013-07-01,NaT,Current,31,Helmets,4,Accessories

**Views to extract**

In [27]:
views = {
    "vw_Account" : "SELECT * FROM vw_Account",
    "vw_Currency" : "SELECT * FROM vw_Currency",
    "vw_CurrencyRate" : "SELECT * FROM vw_CurrencyRate",
    "vw_Customer" : "SELECT * FROM vw_Customer",
    "vw_DimDate" : "SELECT * FROM vw_DimDate",
    "vw_DepartmentGroup" : "SELECT * FROM vw_DepartmentGroup",
    "vw_Employee" : "SELECT * FROM vw_Employee",
    "vw_FactFinance" : "SELECT * FROM vw_FactFinance",
    "vw_DimGeography" : "SELECT * FROM vw_DimGeography",
    "vw_InternetSales" : "SELECT * FROM vw_InternetSales",
    "vw_InternetSalesReason" : "SELECT * FROM vw_InternetSalesReason",
    "vw_Product" : "SELECT * FROM vw_Product",
    "vw_ProductInventory" : "SELECT * FROM vw_ProductInventory",
    "vw_Promotion" : "SELECT * FROM vw_Promotion",
    "vw_Reseller" : "SELECT * FROM vw_Reseller",
    "vw_ResellerSales" : "SELECT * FROM vw_ResellerSales",
    "vw_SalesCuota" : "SELECT * FROM vw_SalesCuota",
    "vw_SalesReason" : "SELECT * FROM vw_SalesReason",
    "vw_SalesTerritory" : "SELECT * FROM vw_SalesTerritory",
    "vw_Scenario" : "SELECT * FROM vw_Scenario",
    "vw_SurveyResponse" : "SELECT * FROM vw_SurveyResponse"
}

**Export to csv**

In [28]:
notebook_dir = os.getcwd()
raw_path = raw_path = os.path.abspath(os.path.join(notebook_dir, "..", "data", "raw"))
for view_name, query in views.items():
    print(f"⏳ Extracting {view_name} ...")
    df = query_to_df(query)

    if df is not None:
        clean_name = view_name.replace("vw_", "")
        csv_path = os.path.join(raw_path, f"{clean_name}.csv")
        df.to_csv(csv_path, index=False, encoding='utf-8-sig')
        print(f" {clean_name} exported successfully → {csv_path}")
    else:
        print(f" {view_name} unsuccessful export.")

⏳ Extracting vw_Account ...
 Account exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\Account.csv
⏳ Extracting vw_Currency ...
 Currency exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\Currency.csv
⏳ Extracting vw_CurrencyRate ...
 CurrencyRate exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\CurrencyRate.csv
⏳ Extracting vw_Customer ...
 Customer exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\Customer.csv
⏳ Extracting vw_DimDate ...
 DimDate exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\DimDate.csv
⏳ Extracting vw_DepartmentGroup ...
 DepartmentGroup exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\DepartmentGroup.csv
⏳ Extracting vw_Employee ...
 Employee exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\Employee.csv
⏳ Extracting vw_FactFinance ...
 FactFinance exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\FactFinance.csv
⏳ Extracting vw_DimGeography ...
 DimGeography exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\DimGeography.csv
⏳ Extracting vw_InternetSales ...
 InternetSales exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\InternetSales.csv
⏳ Extracting vw_InternetSalesReason ...
 InternetSalesReason exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\InternetSalesReason.csv
⏳ Extracting vw_Product ...
 Product exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\Product.csv
⏳ Extracting vw_ProductInventory ...
 ProductInventory exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\ProductInventory.csv
⏳ Extracting vw_Promotion ...
 Promotion exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\Promotion.csv
⏳ Extracting vw_Reseller ...
 Reseller exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\Reseller.csv
⏳ Extracting vw_ResellerSales ...
 ResellerSales exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\ResellerSales.csv
⏳ Extracting vw_SalesCuota ...
 SalesCuota exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\SalesCuota.csv
⏳ Extracting vw_SalesReason ...
 SalesReason exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\SalesReason.csv
⏳ Extracting vw_SalesTerritory ...
 SalesTerritory exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\SalesTerritory.csv
⏳ Extracting vw_Scenario ...
 Scenario exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\Scenario.csv
⏳ Extracting vw_SurveyResponse ...
 SurveyResponse exported successfully → C:\Users\ferna\PycharmProjects\AdventureWorks-2022-360-Management-Dashboard\Data\Raw\SurveyResponse.csv